body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

ul, 
ol, 
a {
    list-style-type: none;
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.logo {
    color: #2e2f42;
}

.logotype {
    color: #2E2F42;
    text-decoration: none;
    margin-right: 76px;
}

.logotype-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address {
    color: #434455;
    font-style: normal;
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-flex {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address:hover,
.address:focus {
    color: #404BBF;
}

.main {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.first-title {
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
}

.button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    line-height: 1.5;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    padding: 120px 0;
}

.benefits-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-items {
    width: calc((100% - 72px) / 4);
}

.benefits-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
}

.second-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team {
    display: flex;
    gap: 24px;
}
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-member {
    width: calc((100% - 72px) / 4);
}

.name-job {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
}

.second-title {
    text-transform: capitalize;
}

.team-member {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.about-member {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    text-align: center;
}

.third-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-border {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}

.portfolio-section {
    padding: 120px 0;
}

.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item {
    width: calc((100% - 48)) / 3;
}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    padding: 100px 0px;
}

.logo-two {
    color: #f4f4fd;
}

.logotype {
    margin-bottom: 16px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F4F4FD;
    max-width: 264px;
}